<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javawspring.dao.StudyDAO"><!-- 여기다가 mybatis로 sql쓴걸 주입시키겠다 -->
  <select id="getGuestMid" resultType="com.spring.javawspring.vo.GuestVO"> <!-- 반환될게 있으면 resultType써줌(select문만해당) -->
  	select * from guest2 where name = #{name};
  </select>
  
  <select id="getGuestNames" resultType="com.spring.javawspring.vo.GuestVO">
  	select * from guest2 where name like concat('%',#{name},'%');
  </select>
</mapper>